<HTML>
<head>
    <title>Warren Hills Comptuer Science Web Scraper</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
    <h1>Web Scraper</h1>
    <!--<embed type="text/html" src="report.txt" width="500" height="200">-->


    <form class="grid" action="/resultStock" method="POST">

        {% if name %}
        <center>
            <h3 style="color: blue;" class="let_space">Results for {{name}}:</h3>
            <p>{{final}}</p>
        </center>

        {% endif %}

        <label for="name">Enter your Stock:</label>
        <input type="text" id="name" name="name">

        <center><input class="file_submit" type="Submit"></center>

    </form>

    <form class="grid" action="/resultEcommerce" method="POST">

        {% if nameEco %}
        <center>
            <h3 style="color: blue;" class="let_space">Results for {{nameEco}}:</h3>
            <p>{{finalEco}}</p>
        </center>

        {% endif %}

        <label for="nameEco">Enter your Product:</label>
        <input type="text" id="nameEco" name="nameEco">

        <center><input class="file_submit" type="Submit"></center>

    </form>



</body>
</HTML>
